# Віртуальне середовище
venv/

# Файл конфігурації середовища
.env

# База даних SQLite (тільки для локальної розробки)
db.sqlite3

# Python кеші та байткод
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Статичні файли, якщо генеруються
staticfiles/

# Медіа файли (якщо не хочете тримати їх у репозиторії)
media/

# IDE та редактори
.vscode/
.idea/
*.swp
*.swo

# Тести та покриття
.coverage
htmlcov/
