{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">

<section class="profile-container">
  {% if user.is_authenticated %}
    <div class="profile-card">
      <h2 class="profile-title">Профіль користувача</h2>

      <div class="profile-avatar">
        {% if user.avatar %}
          <img src="{{ user.avatar.url }}" alt="Avatar">
        {% else %}
          <p class="no-avatar">Аватар не завантажено</p>
        {% endif %}
      </div>

      <div class="profile-info">
        <p><strong>Ім’я:</strong> {{ user.first_name }}</p>
        <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
        <p><strong>Біографія:</strong> {{ user.bio }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Роль:</strong> {{ user.role }}</p>
      </div>

      <div class="profile-actions">
        <a href="{% url 'profile_update' %}" class="btn-card">✏️ Оновити профіль</a>
        <a href="{% url 'profile_delete' pk=request.user.pk %}" class="btn-card btn-danger">🗑️ Видалити профіль</a>
      </div>
    </div>
  {% else %}
    <p class="not-auth">Ви не залогінені</p>
  {% endif %}
</section>
{% endblock %}
