{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="profile-container">

    <div class="profile-left">

        <h2 class="profile-text">Профіль користувача</h2>

        <div class="profile-avatar-container">
    {% if user.avatar %}
        <img
    id="profile-avatar"
    src="{{ user.avatar.url }}"
    alt="Avatar"
    class="profile-avatar"
>
    {% else %}
    <div class="avatar-placeholder">
        <svg class="avatar-icon"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="8" r="4"/>
            <path d="M4 21c0-4 3.6-7 8-7s8 3 8 7"/>
        </svg>
    </div>
{% endif %}
</div>

        <div class="profile-buttons">
            <a href="{% url 'profile_update' %}" class="btn-card">
                Оновити профіль
            </a>

            <a href="{% url 'profile_delete' pk=request.user.pk %}" class="btn-card">
                Видалити мій профіль
            </a>
        </div>

    </div>

    <div class="profile-right">
        <p><strong>Ім’я:</strong> {{ user.first_name }}</p>
        <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Біографія:</strong> {{ user.bio }}</p>
    </div>

</div>

{% else %}
    <p>Ви не залогінені</p>
{% endif %}

<script src="{% static 'js/profile.js' %}"></script>

{% endblock %}