{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="profile-container">

    <div class="profile-left">

        <h2 class="profile-text">Профіль користувача</h2>

        <div class="profile-avatar-container">
    {% if user.avatar %}
        <img
            src="{{ user.avatar.url }}"
            alt="Avatar"
            class="profile-avatar"
        >
    {% else %}
        <div class="avatar-placeholder">
          <span class="avatar-icon">👤</span>
        </div>
    {% endif %}
</div>

        <div class="profile-buttons">
            <a href="{% url 'profile_update' %}" class="btn-card">
                Оновити профіль
            </a>

            <a href="{% url 'profile_delete' pk=request.user.pk %}" class="btn-card">
                Видалити мій профіль
            </a>
        </div>

    </div>

    <div class="profile-right">
        <p><strong>Ім’я:</strong> {{ user.first_name }}</p>
        <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Біографія:</strong> {{ user.bio }}</p>
    </div>

</div>

{% else %}
    <p>Ви не залогінені</p>
{% endif %}

{% endblock %}
