{% extends "base.html" %}

{% block content %}
<div class="courses-container">
  <h2>Список курсів</h2>

  <!-- Кнопка створення курсу доступна ТІЛЬКИ для teacher та admin -->
  {% if request.user.role == 'teacher' or request.user.role == 'admin' %}
  <div class="actions-bar" style="margin-bottom: 20px;">
    <a href="{% url 'course_create' %}" class="btn btn-primary">➕ Додати новий курс</a>
  </div>
  {% endif %}

  <ul class="courses-list">
    {% for course in courses %}
    <li>
      <a href="{% url 'course_detail' course.pk %}">
        <h2>{{ course.title }}</h2>
      </a>  
        <p>Автор: {{ course.author.get_full_name }}</p>
      {% if course.teacher == user %}
      <p class="text-muted">Ви є викладачем цього курсу.</p>
      {% else %}
      <!-- Перевірка: чи студент вже записаний на курс -->
      {% if course.id in enrolled_course_ids %}
      <form action="{% url 'course_enroll' course.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">❌ Відписатися</button>
      </form>
      {% else %}
      <form action="{% url 'course_enroll' course.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">📝 Записатися</button>
      </form>
      {% endif %}
     

      {% endif %}
    </li>
    {% empty %}
    <li>Немає доступних курсів.</li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
  <div class="pagination" style="margin-top: 25px;">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">Попередня</a>
    {% endif %}

    <span class="page-current">
      Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Наступна</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}