{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}EduHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>

            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn-logout"
                    style="background: none; border: none; color: inherit; cursor: pointer; padding: 0; font: inherit;">
                    Вийти 
                </button> |
                <a href="{% url 'profile' %}">Профіль</a> |
                <a href="{% url 'course_list' %}">Курси</a> |
            </form>

            {% else %}
            <a href="{% url 'register' %}">Реєстрація</a> |
            <a href="{% url 'login' %}">Вхід</a> |
            {% endif %}
            
        </nav>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 EduHub</p>
    </footer>
</body>

</html>