{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EduHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'register' %}">Реєстрація</a> |
            <a href="{% url 'login' %}">Вхід</a> |
            <a href="{% url 'profile' %}">Профіль</a> |
            <a href="{% url 'user_list' %}">Користувачі</a>
        </nav>
    </header>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 EduHub</p>
    </footer>
</body>
</html>
