{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'lessons/css/lesson_form.css' %}">

<section class="lesson-form-container">
  <a href="{% url 'course_list' %}" class="btn-card">⬅ Назад до списку уроків</a>

  <div class="form-card">
    <h2 class="form-title">Створити урок</h2>
    <form method="post" enctype="multipart/form-data" class="styled-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-submit">💾 Зберегти</button>
    </form>
  </div>
</section>
{% endblock %}
